
/*CSS RUBRIC*/
/* use float
 not over 150px wide
 description list terms must be bold 
 and the font size set to 1.15 times the root element font size (rem?)
 DL must have no indentation and on same line
*/

/*INDEX RUBRIC*/
/*Document title and main heading should be your full name
Add a professional image of yourself
Your introduction/bio, minimum 100 words
Description list with the following information
Program name you are taking
Course code and name in which you are completing this assignment
Your hobbies*/

img {
    width: 100%;
    max-width: 150px;
    float: left;
    height: auto;
    padding: 1rem;
}

main {
    background-color: rgb(37, 37, 102);
}

body {
    color: white;
    font-size: 1em;
    background-color: blueviolet;
    font-weight: bolder;
}

p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

dl {
    list-style: none;
    padding: .5rem;
}

dt {
    font-size: 1.15rem;
    font-weight: bolder;
}

dd {
    margin-left: 0;
    font-weight: lighter;
}
